---
import '../styles/tokens.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Material Tool for The Legend of Zelda: Tears of the Kingdom</title>
	</head>
	<body>
		<slot />
	</body>
</html>


<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
	*:focus-visible	, *:has(*:focus-visible)::before {
		outline: 3px solid var(--md-sys-color-secondary);
		outline-offset: 2px;
	}
	hr {
        width: 100%;
        margin: 3px 0;
        border-color: var(--md-sys-color-outline-variant);
    }
</style>

<style>
	html {
		height: 100%;
	}

	body {
		background-color: var(--md-sys-color-surface-container-lowest);
		color: var(--md-sys-color-on-surface);

		color-scheme: light dark;

		font-family: 'Roboto', system-ui, sans-serif;
		
		margin: 0;
		padding: 16px;
		gap: 16px;

		height: 100%;
		box-sizing: border-box;

		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-items: stretch;
	}

	/* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (max-width: 600px) {
		body {
			flex-direction: column-reverse;
		}
    }
</style>